body {
    font-family:'Pretendard-Regular';
}

.nav-item:hover {
    transform: scale(1.1);
}

.nav-logo a:hover {
    color: rgb(67, 67, 67);
}

.nav-item a:hover{
    font-weight: 600;
}
  
#nav-container {
    position: fixed; /*nav바 고정*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
 
#SearchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}      
 
#SearchText {
    margin-top: 100px;
    width: 395.001px;
    height: 25px;
    border: none;
    border-bottom: 1px solid var(--line-color1);
    font-family: 'Pretendard-Regular';
    outline: none; /*클릭시 테두리 제거*/
}

#SearchButton {
    background-color: transparent;
    border: none;
    margin-left: -23px;
    font-size: 1rem;
    cursor: pointer;
}

.AllTags {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Tags {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
    font-size: 10px;
    align-items: center; /* 세로 중앙 정렬 */
    cursor: pointer;
    width: 395.001px;
}

.Tag1, .Tag2, .Tag3 {
    background-color: #F3F3F3;
    width: 80px;
    height: 22px;
    border-radius: 5px;
    text-align: center;
    color: var(--text4);
    display: flex; /* 플렉스 박스로 설정 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}

.Tag2 {
    width: 40px;
    height: 22px;
}

.Tag3 {
    width: 80px;
    height: 22px;
}

.GoodsContainer1 img, .GoodsContainer2 img {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AllContainer{
    margin-top: 60px;
}
.GoodsContainer1, .GoodsContainer2 {
    display: flex;
    column-gap: 95px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.Good:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.5s ease-in-out;
}

.Title {
    font-size: 10px;
    color: var(--text10);
    line-height: 12px;
}

.GoodsName {
    font-size: 12px;
    line-height: 25px;
}

.Won {
    line-height: 20px;
    font-size: 18px;
    font-weight: 700;
}

.Good {
    box-shadow: var(--box-shadow1);
    border-radius: 4px;
    display: flex;
    padding: 13px 11px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

#ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
 
#btn1, #btn2, #btn3{
    width: 33px;
    height: 33px;
    border-radius: var(--btn-border1);
    font-family: 'Pretendard-Regular';
    border: none;
    cursor: pointer;
    margin-left: 10px;
    display: flex; /* 플렉스 박스로 설정 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}

#btn1 {
    background-color: var(--btn-color3);
    color: var(--white);

}

#btn2, #btn3 {
    background-color: var(--btn-color2);
    color: var(--text2);
}

#btn3 {
    margin-right: 10px;
}
 
#btn1:hover, #btn2:hover, #btn3:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}
 
#btn0, #btn4 {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: var(--btn-border1);
    background-color: var(--btn-color1);
    border: none;
    font-size: 12px;
    display: flex; /* 플렉스 박스로 설정 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}
 
#btn0:hover, #btn4:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}

#ActiveButton{
    display: none;
}

/* tablet */
@media screen and (max-width: 1024px) {

    .AllContainer{
        margin-top: 30px;
        height: 600px;
    }
 
    .Good4, .Good8 {
        display: none;
    }

    .GoodsContainer1, .GoodsContainer2 {
        display: flex;
        column-gap: 65px;
        margin-top: 30px;    
    }

    .Good:hover {
        transform: scale(1.05);
    }

    #ButtonContainer {
        display: none;
    }
    
    #ActiveButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: -370px 20px;
        background-color: #ffff;
         
    }

    #Actbtn1, #Actbtn2 {
        box-shadow: var(--box-shadow1);
        background-color: var(--white);
        border-radius: 28px;
        width: 56px;
        height: 56px;
        cursor: pointer;
        display: flex; /* 플렉스 박스로 설정 */
        align-items: center; /* 세로 중앙 정렬 */
        justify-content: center; /* 가로 중앙 정렬 */
        text-align: center;
    }
}

/* mobile */
@media screen and (max-width: 800px) {
    #ActiveButton {
        display: none;
    }
}

/*  */
@media screen and (max-width: 600px) {
    #SearchText {
        margin-top: 80px;
        width: 302.041px;
    }
    
    #Tags {
        width: 302.041px;
        margin-top: 10px;
    }

    .AllTags {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #ActiveButton {
        display: none;
    }

    .GoodsContainer1 img, .GoodsContainer2 img {
        width: 72px;
        height: 72px;
        margin: 0;
        padding: 0;
    }

    .GoodsContainer1, .GoodsContainer2 {
        display: flex;
        width: 80%;
        padding: 10px 30px 0;
        margin-top: 1px;
        flex-direction: column;
    }

    .Title {
        font-size: 8px;
    }
    
    .GoodsName {
        font-size: 10px;
        line-height: 20px;
    }
    
    .Won {
        font-size: 16px;
        line-height: 22px;
    }

    #ButtonContainer {
        display: none;
    }

    .Good {
        width: 100%;
        display: flex;
        padding: 10px 10px;
        flex-direction: row;
        justify-content: flex-start;
        gap: 6px;
    }

    .p {
        width: 50%;
        margin-left: 15px;
        margin-top: 10px;
    }

    .AllContainer {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Good:hover {
        transform: scale(1.01);
    }
}