 body {
    font-family: 'Pretendard-Regular';
    background-color: var(--white);
    height: 100%;
    width: 100%;
 }

 .nav-item:nth-child(1) a {
    font-weight: 500;
    font-size: 1.1rem;
 }

 .nav-item a:hover {
    font-weight: 600;
 }

 #searchBar-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #search-input {
    margin-top: 100px;
    width: 395.001px;
    height: 25px;
    border: none;
    border-bottom: 1px solid var(--line-color1);
    font-family: 'Pretendard-Regular';
    outline: none;
    /*클릭시 테두리 제거*/
    background-color: transparent;
 }

 select {
    width: 200px;
    height: 35px;
    padding: 20px;
    box-shadow: inset 1px 1px 1px rgba(0, 38, 90, 1);

 }

 #search-button {
    width: 18px;
    height: 18.454px;
    background-color: transparent;
    /*배경색 투명하게*/
    border: none;
    margin-left: -25px;
    font-size: 1.1rem;
    cursor: pointer;
 }

 #all-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 200px auto 40px auto;
    /* align-items:center; */
    /* justify-content: center; */
 }
 
 .box-container1,
 .box-container2 {
    width: 171px;
    height: 244px;
    background-color: var(--white);
    border-radius: var(--movie-border);
    box-shadow: var(--box-shadow2);
    flex-wrap: wrap;
    width: auto;

 }


 .box-container1, .box-container2 {
    /* margin: 45px 0 0 77px; */
 }

 .box-container2 {
    /* margin-left: 77px; */
 }

 .first-line {
    display: flex;
    flex-wrap: wrap;
    gap: 78px;
 }

 .second-line {
    display: flex;
    margin: 33px 0 40px 0;
    flex-wrap: wrap;
    gap: 78px;
 }

 .box-container1 img,
 .box-container2 img {
   padding: 10px;
 }

 .title {
    font-size: var(--movie-title);
    color: var(--text1);
    text-align: center;
 }

 .date {
    font-size: var(--movie-date);
    color: var(--text9);
    text-align: center;
 }

 .box-container1:hover,
 .box-container2:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease-in-out;
 }

 #btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -33px 0 20px 0;
 }

 #btn1,
 #btn2,
 #btn3 {
    width: 33px;
    height: 33px;
    border-radius: var(--btn-border1);
    font-family: 'Pretendard-Regular';
    border: none;
    cursor: pointer;
    margin-left: 10px;
 }

 #btn1 {
    background-color: var(--btn-color3);
    color: var(--white);
 }

 #btn2,
 #btn3 {
    background-color: var(--btn-color2);
    color: var(--text2);
 }

 #btn3 {
    margin-right: 10px;
 }

 #btn1:hover,
 #btn2:hover,
 #btn3:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
 }

 #before,
 #next {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: var(--btn-border1);
    background-color: var(--btn-color1);
    border: none;
 }

 #before:hover,
 #next:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
 }

 #ActiveButton {
    display: none;
 }

 /* tablet */
 @media screen and (max-width: 1024px) {
    #ActiveButton {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: -430px 20px;
       background-color: #ffff;
    }

    #Actbtn1,
    #Actbtn2 {
       box-shadow: var(--box-shadow1);
       background-color: var(--white);
       border-radius: 28px;
       width: 56px;
       height: 56px;
       cursor: pointer;
       display: flex;
       /* 플렉스 박스로 설정 */
       align-items: center;
       /* 세로 중앙 정렬 */
       justify-content: center;
       /* 가로 중앙 정렬 */
       text-align: center;
    }

    .m1,
    .m2 {
       display: none;
    }

    #btn-container {
       display: none;
    }

    .first-line,
    .second-line {
       display: flex;
       column-gap: -65px;
       margin-top: 30px;

    }

    #movieOption-wrapper {
       position: absolute;
       left: 19%;
    }

    #all-container {
       /* margin-left: -60px; */
       display: flex;
       align-items: center;
    }

 }

 @media (min-width:704px) and (max-width:801px) {
    #movieOption-wrapper {
       position: absolute;
       top: 20%;
    }
    #all-container{
      display: flex;
      align-items: center;
    }
 }


 @media (min-width: 801px) and (max-width: 1024px) {
    #movieOption-wrapper {
       margin-top: 20px;
    }

    #all-container{
      display: flex;
      align-items: center;
    }

    

 }

@media screen  and (max-width : 674px) {
   #all-container{
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
      /* margin-left: 100px; */
   }
}

 /* 화면 너비가 676.5px 이상 1024px 이하일떄 */
 @media (min-width: 675px) and (max-width: 1024px) {

    .box-container1:nth-child(4),
    .box-container2:nth-child(4) {
       display: none;
    }

    #all-container{
      display: flex;
      align-items: center;
      flex-direction: column;
    }

 }

 @media screen and (max-width:1280px) {
    #movieOption-wrapper {
       position: absolute;
       top: 15%;
       left: 19%;
    }

    #all-container{
      display: flex;
      align-items: center;
    }
 }

 @media screen and (max-width: 905px) {
    #ActiveButton {
       display: none;
    }
    #all-container{
      display: flex;
      align-items: center;
      margin-top: 180px;
    }
    #btn-container {
       display: block;
       display: flex;
       justify-content: center;
    }
 }

 /* mobile */
 @media screen and (max-width: 800px) {

    .movie4,
    .movie8 {
       display: block;
    }

    #ActiveButton {
       display: none;
    }

    #btn-container {
       display: block;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: -55px;
       margin-bottom: 30px;
    }
    .line1{
     
      margin-bottom: 10px;
    }
   
  
    .box-container2 {
       margin-bottom: 20px;
    }

    .m1,
    .m2 {
       display: block;
    }

    #all-container {
      
       margin-top: 165px;
       display: flex;
       align-items: center;
      /* margin-left: 43px; */
    }

    .first-line,.second-line{
      justify-content: center;
    }
 }

 @media screen and (max-width: 450px) {
    #search-input {
       margin-top: 80px;
       width: 302.041px;
    }

    #all-container {
       margin-top: 120px;
       /* margin-left:3px; */
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .box-container1,
    .box-container2 {
      margin-right: 12px;
    }

    .first-line, .second-line{
      gap: 10px;
      display: flex;
      justify-content: center;
      /* margin-left: 70px; */
    }
    .line1{
      /* margin-top: 20px; */
    }
 }

 @media (min-width:636px) and (max-width : 675px) {
   .m2, .m1{
      display: none;
   }
 }

  