body{
    font-family: 'Pretendard-Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(248, 253, 255);
    margin: 0;
}
#login-container{

    width: 600px;
    height: 600px;
    padding: 40px;
    box-sizing: border-box;
    background-color: #e3e3e3;

    border-radius: 20px;
    background: rgba(247, 243, 234, 0.28);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(9px);
}

#login-form{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

h2{
    text-align: center;
    font-size: 2rem;
    margin: 50px auto 40px auto;
    color: rgb(79, 167, 255);
}

#user-name, #password{
   padding: 10px;
   border-radius: 5px;
   outline: none;
   border: none;
   width: 100%; 
   max-width: 380px;
   height: 32px;
   background-color: #F8F5F5;
}

#user-name{
    margin-bottom: 25px;
}

#password{
    margin-bottom: 25px;
}
#save-id{
    margin-left: -190px;
    margin-right: 10px;
    width: 17.5px;  
    height: 17px;  
    cursor: pointer;
    
}
.save-id-label{
    font-size: 1rem;
    color: gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    width: 100%;
    max-width: 380px;
}
 
#sign-in, #sign-up{
    width: 100%;
    max-width: 380px;
    height: 55px;
    border-radius: 5px;
    background-color:#c8dfff;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(65, 64, 64);
}

#sign-in:hover{
    background-color:  rgb(136, 184, 233);
    color: black;
}

#sign-up:hover{
    background-color:  rgb(136, 184, 233);
    color: black;
}

#sign-in{
    margin: 30px 0 20px 0;
     
}

@media screen and (max-width: 600px) {
    #login-container{
        width: 380px;
        height: auto;
        padding: 20px;
    }
    .nav-item a:hover{
        font-weight: 600;
    }
    .save-id-label{
        margin-left: 45px;
    }
}
@media screen and (max-width:390px){
    #login-container{
        width: 350px;
    }
    .save-id-label{
        margin-left:68px;
    }
     

    
}

 
 