@import url('css/style.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:wght@100..900&display=swap');



#nav-container {
    height: var(--nav-height);
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 20px;

    position: fixed;
    /*nav바 고정*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav-logo a {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-size: var(--title-size);
}

.bi-person-circle {
    font-size: 1.5rem;
}

.nav-menu {
    display: flex;
    column-gap: 33px;
    align-items: center;
}

.nav-menu a {
    display: flex;
    /*가로로 배치*/
    font-size: var(--nav-size);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

#mypage-logo {
    margin-right: 20px;
}

.text {
    display: none;
}

.nav-item:hover {
    transform: scale(1.1);
}

.nav-logo a:hover {
    color: rgb(67, 67, 67);
}

#nav-toggle,
#logo {
    display: none;
}


/* mobile */
@media screen and (max-width: 600px) {
    #nav-container {
        position: fixed;
        /*nav바 고정*/
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .nav-menu {
        flex-direction: column;
        background-color: #F0F4FF;
        width: 197px;
        height: 890px;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: -1;
        display: none;
        /* 처음에 안 보여지게 함 */
    }

    .nav-item {
        padding: 0.25rem 0;
        margin: 19px 20px auto 20px;
        border-bottom: 1.4px solid var(--line-color1);
        width: 120px;
        /*밑줄 길이 120px만큼 늘리기 */
        transition: all 0.3s ease-in-out;
    }

    .nav-item a {
        font-family: "Inter", sans-serif;
        color: var(--text3);
        flex-direction: row;
        font-size: inherit;
        /* 부모 요소의 폰트 크기를 상속 */
        font-weight: inherit;
        color: inherit;
    }

    .nav-item:hover { /*transform 적용 X */
        transform: none;
    }

    .nav-item a .bi {
        margin-left: 10px;
    }

    #mypage-logo {
        font-size: 1.25rem;
    }

    .logo {
        margin-left: 10px;
        /* 텍스트와 아이콘 사이의 간격 */
    }

    #nav-toggle {
        display: block;
        cursor: pointer;
    }

    #logo,
    #mypage-logo {
        display: block;
    }

    .text {
        display: block;
        font-size: 0.87rem;
    }

    .bi-list {
        /*hamburger bar*/
        font-size: 1.6rem;
        align-items: center;
        position: absolute;
        right: 2%;
        top: 15%;
    }

    .bi-x-lg {
        font-size: 1.3rem;
    }

    /* 토글 기능 클래스 */
    .toggleActive {
        display: block;
    }
}